/* WHOLE PAGE */
* {
  box-sizing: border-box;
  background-size: cover;
}
html,
body {
  background-image: url("../src/assets/fallslake.jpg");
  background-attachment: fixed;
  min-height: 100%;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
  letter-spacing: 0.1em;
}
h1 {
  font-size: 45px;
}
h2 {
  font-size: 35px;
}
h3{
  font-size:25px;
}

/* NAV */
.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.nav-item {
  border-radius: 15px;
  background: darkgoldenrod;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
  margin: 25px;
  list-style: none;
}
a {
  cursor: pointer;
  color:brown;
  padding: 10px;
}
a:hover {
  color: white;
}

/* HOME */
.home {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px;
}

/* ABOUT */
.about {
  margin: 20px;
  margin-top: 10vh;
}
.profileImage {
  border-radius: 5px;
}
.bio {
  text-align: center;
}
.img-bio {
  display: flex;
  flex-direction: row;
}

/* PORTFOLIO */
.portfolio {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  align-items: center;
  text-align: center;
}
.apps {
  margin: 30px;
  border-radius: 5px;
  background-color:lightblue;
  padding: 5px;
}
/* .app-row {
  display: flex;
  flex-direction: row;
} */
.app-links {
  display: flex;
  flex-direction: column;
 font-size: 18px;
 font-weight: bold;
}
.img {
  width: 10vw;
  height: 15vh;
}

/* CONTACT */
.contact {
  margin: 20px;
}
.contact-form {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  margin: 10px;
}
.submitBtn {
  border-radius: 5px;
  max-width: 10vw;
  margin: 10px;
  padding: 10px;
  font-size: 20px;
}
input {
  min-height: 5vh;
  max-width: 25vw;
  font-size: 20px;
  padding: 10px;
  outline: none;
  border-radius: 5px;
}
textarea {
  min-height: 20vh;
  max-width: 25vw;
  border-radius: 5px;
  padding: 10px;
  outline: none;
  border-width: 2px;
}
