/* WHOLE PAGE */
html,
body {
  background-image: url("../src/assets/fallslake.jpg");
  background-size: cover;
  height: 100%;
  width: 100vw;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
h1 {
  font-size: 45px;
}
h2 {
  font-size: 30px;
}

/* NAV */
header{
  background-color: teal;

}
.nav-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}
.nav-item {
  margin: 10px;
}
.nav-link {
  padding: 10px;
  border-radius: 15px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  color: white;
}
.nav-link:hover {
  color: lightseagreen;
}

/* HOME */
.home {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px;
  color: black;
}

/* ABOUT */
.about {
  display: flex;
  flex-direction: row;
  align-items: left;
  margin: 20px;
  margin-top: 10vh;
}
.profileImage {
  border-radius: 5px;
  height: 25vh;
  max-width: 25vw;
}
.bio {
  text-align: center;
  max-width: 60vw;
  margin-left: 10vw;
  color: black;
}

/* PORTFOLIO */
.portfolio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}
.apps {
  margin: 15px;
  border-radius: 5px;
  padding: 5px;
}
.app-name{
  color:black;
}
.app-info {
  color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: bold;
}
.app-link {
  font-size: 20px;
  color: white;
  margin: 5px;
}
.app-link:hover {
  color: teal;
}
.img {
  height: auto;
  width: 10vw;
}

/* RESUME */
.resumeList{
list-style: none;
}

/* CONTACT */
.contact {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 10vw;
}
.contactForm {
  font-size: 25px;
  margin: 10px;
}
.submitBtn {
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
label {
  font-size: 20px;
  font-weight: bold;
}
input {
  min-width: 20vw;
  font-size: 20px;
  padding: 10px;
  outline: none;
  border-radius: 5px;
}
textarea {
  min-width: 20vw;
  min-height: 15vh;
  border-radius: 5px;
  padding: 10px;
  outline: none;
  border-width: 2px;
}

/* FOOTER */
.footer {
  background-color: teal;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position:absolute;
  left:0;
  bottom:0;
  right:0;
  margin:10px;
}
.footer-link{
  padding: 10px;
  margin:10px;
  border-radius: 15px;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  color: white;
}
.footer-link:hover {
  color: lightseagreen;
}
