/* WHOLE PAGE */
html,
body {
  background-color: lightgrey;
  /* background-image: url("../src/assets/fallslake.jpg");
  background-size: cover; */
  height: 100%;
  width: 100vw;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
h1 {
  font-size: 45px;
}
h2 {
  font-size: 25px;
}
.background {
  background-image:-webkit-radial-gradient(azure, aqua, teal);  
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 5vw;
  margin-top: 10vh;
  color: navy;

}
.link{
  margin:15px;
  border-radius: 15px;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  color: white;
}
.link:hover{
  color: lightseagreen;
}

/* HEADER & FOOTER */
header, footer{
  background-color: teal;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  width: 100%;
}
footer{
  position: absolute;
 bottom:0;
}
.main{
  /* THIS IS HELPING THE FOOTER STAY IN PLACE  */
  position: relative;
  min-height: 100vh;
}

/* ABOUT */
.profileImg {
  border-radius: 5px;
  height: 25vh;
  max-width: auto;
  margin:10px;
}
.img-name{
  display: flex;
  flex-direction: column;
  align-content: center;
  border-style: ridge;
  border-width: 5px;
  border-radius: 15px;
  margin: 20px;
}
.bio {
  border-style: ridge;
  border-width: 5px;
  border-radius: 15px;
  text-align: center;
  max-width: 60vw;
}

/* PORTFOLIO */
.portfolio{
  margin-top:5vh;
}
.app{
  position: relative;
  width: 30vw;
  font-size: 30px;
  font-weight: bold;
  margin: 10px;
}
.app-row{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
}
.image{
  display: block;
  height: 30vh;
  width:100%;
  border-radius: 15px;
  border-style:ridge;
  border-width: 5px;
}

/* IMAGE OVERLAY EFFECTS FOR PORTFOLIO & RESUME */
.image-overlay{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  border-style:ridge;
  border-width: 5px;
  border-radius: 15px;
  background: rgba(0,0,0,0.6);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}
.image-overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}
.image-overlay:hover{
  opacity: 1;
}
.image-overlay:hover > * {
transform: translateY(0);
}
.image-overlay-blur{
  backdrop-filter: blur(5px);
}

/* RESUME */
.list{
  border-style: ridge;
  border-radius:15px;
  border-width: 5px;
  padding:10px;
  margin:20px;
  color: navy;
}
.list-title{
  text-decoration: underline;
  text-align: center;
}
.list-columns{
  display:flex;
  flex-direction: row;
}
.skills{
list-style:square;
font-size: 25px;
font-weight: bold;
margin:10px;
}
li{
  margin:5px;
}
.resume{
  position: relative;
  font-size: 25px;
  font-weight: bold;
  margin: 20px;
}
.resumeImg{
  display: block;
  height: 50vh;
  width:100%;
  border-radius: 15px;
  border-style:ridge;
  border-width: 5px;
}

/* CONTACT */
.contact-form {
  border-style: ridge;
  border-radius: 15px;
  border-width: 5px;
  /* font-size: 20px; */
  margin: 20px;
}
.submitBtn {
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border-style: ridge;
  border-radius:15px;
  border-width: 5px;
  border-color:lightgrey;
  background-color:white;
  color:navy;
}
.submitBtn:hover{
  background-color:navy;
  color:white;
}
label {
  font-size: 20px;
  margin: 20px;
}
input, textarea {
  margin: 10px;
  min-width: 20vw;
  font-size: 20px;
  padding: 10px;
  outline: none;
  border-radius: 15px;
  border-width: 2px;
}
textarea {
  min-height: 15vh;
}

